<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Suara saat merekam video; bila ditolak video direkam tanpa suara. -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <application>
        <!-- Kamera selalu potret (seperti kamera aplikasi video pendek). -->
        <activity
            android:name="com.zinmedia.camera.CameraActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|uiMode|density"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
    </application>

</manifest>
