<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Stiker dan efek filter diunduh dari internet. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="com.zinmedia.videoeditor.VideoEditorActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <provider
            android:name="com.zinmedia.videoeditor.VideoEditorFileProvider"
            android:authorities="${applicationId}.zinmedia.videoeditor.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" />
    </application>

</manifest>
